body#background_image
{
    background-image: url('source/picture/background0.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div#blog_container
{
    display: block;
    text-align: center;
    background-color: rgba(248, 246, 231, 0.898);
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
#blog-container img
{
    object-fit: contain;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
}
